.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

.delete-form {
    display: inline;
}

.jumbotron {
    background-image: url(/images/Jumbotron.jpg);
    background-size: cover;
    background-position: center;
}

.bg-primary a {
    color: white;
}

